<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
<html>
    <head>
        {% render_block "css" %}
        <title>Ledeberg doet het zelf</title>
        <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}/css/ledeberg.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% cms_toolbar %}
        <div class="jumbotron">
            <h1><span class="ledeberg">Ledeberg</span> <span class="doethetzelf"><span class="doethet">doet het</span> <span class="zelf">zelf</span></span></h1>
            foto: <a href="http://pressphoto.com">pressphoto.com</a>
        </div>
        <div class="container">
            {% block content %}

            {% endblock %}
            {% block mailchimp %}
            <div class="row">
                <div class="span8 offset2">
                    <!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://ledebergdoethetzelf.us6.list-manage.com/subscribe/post?u=758a46c6e20809b2a2d7bbfe9&amp;id=4306338dba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Wilt u op de hoogte blijven?</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email adres" required>
	<div class="clear"><input type="submit" value="Aanmelden voor lijst" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
                </div>
            </div>
            {% endblock %}
            <div class="row">
                <div class="span12 footer">
                    <p>&copy; 2013 ledeberg doet het zelf &bull; <a href="mailto:ledebergdoethetzelf@gmail.com">ledebergdoethetzelf@gmail.com</a></p>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-939523-12']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% render_block "js" %}
    </body>
</html>
