{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">
        <div class="intro span8 offset2">
            {% placeholder template_1_intro %}
        </div>
    </div>
    <div class="row">
        <div class="span8 offset2">
            {% placeholder template_1_subintro %}
        </div>
    </div>
    <div class="row">
        <div class="span5 offset2">
            {% placeholder template_1_content %}
        </div>
        <div class="span5">
            <div class="fb-like-box" data-href="https://www.facebook.com/LedebergDoetHetZelf" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
        </div>
    </div>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=300494076656783";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
