{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="intro span8 offset2">
          <h1>Ledeberg Doet het Zelf</h1>
          <p>Met de sluiting van Standaert Doe-het-zelf verliest
          Ledeberg een familiezaak met een lange geschiedenis,
          maar tegelijk is dit ook een kans voor de wijk.</p>
          <hr />
        </div>
    </div>
    <div class="row">
        <div class="span4 offset1">
          <p>Het bewonersinitiatief <em>Ledeberg Doet het Zelf</em> wil dat de
Standaert-site ten dienste van de Ledebergenaren blijft.
Een plaats waar ze elkaar kunnen ontmoeten.</p>
          <h3>Concreet:</h3>
          <ul>
            <li>Een open, groene en verkeersvrije buitenruimte.</li>
            <li>Ruimte voor Ledebergse organisaties.</li>
            <li>Mee kunnen beslissen over wat de Standaert-site uiteindelijk wordt en ze samen kunnen beheren.</li>
          </ul>
          <p>Wilt u meewerken aan Ledeberg Doet het Zelf? Heeft u een goed idee voor de Standaert-site? Stuur ons een email: <a href="mailto:ledebergdoethetzelf@gmail.com">ledebergdoethetzelf@gmail.com</a></p>
          <p class="plugin_file">
            <a href="/media/cms_page_media/1/petitieldhz.pdf">
              <img src="/static/cms/images/file_icons/pdf.gif" alt="">
              <span class="filetitle">Petitie Ledeberg doet het Zelf <span class="filesize">(590.6 KB)</span></span>
            </a>
          </p>
          <p class="plugin_file">
            <a href="/media/cms_page_media/1/ikhouvanldhz_1.pdf">
              <img src="/static/cms/images/file_icons/pdf.gif" alt="">
              <span class="filetitle">Ik hou van Ledeberg doet het Zelf <span class="filesize">(314.8 KB)</span></span>
            </a>
          </p>
          <div class="fb-like-box" data-href="https://www.facebook.com/LedebergDoetHetZelf" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
        </div>
        <div class="span5 offset1">
          <h2>Ik ondersteun dit initiatief!</h2>
          <form action="." method="post">
            {{ form.non_field_errors }}
            <p>Velden met * zijn verplicht</p>
            {% csrf_token %}
            <fieldset class="name">
              <p class="required">
                {{ form.voornaam.errors }}
                <label for="id_voornaam">{{ form.voornaam.label }}:</label> {{ form.voornaam }}
              </p>
              <p class="required">
                {{ form.familienaam.errors }}
                <label for="id_familienaam">{{ form.familienaam.label }}:</label> {{ form.familienaam }}
              </p>
              <p><em>of</em></p>
              <p class="required">
                {{ form.organisatie.errors }}
                <label for="id_organisatie">Organisatie/vereniging:</label> {{ form.organisatie }}
              </p>
            </fieldset>
            <fieldset>
            <p class="required">
              {{ form.straat.errors }}
              <label for="id_straat">Straat + nr:</label> {{ form.straat }}
            </p>
            <p class="required">
              {{ form.postcode.errors }}
              <label for="id_postcode">{{ form.postcode.label }}:</label> {{ form.postcode }}
            </p>
            <p class="required">
              {{ form.gemeente.errors }}
              <label for="id_gemeente">{{ form.gemeente.label }}:</label> {{ form.gemeente }}
            </p>
            <p>Ik wil op de hoogte gehouden worden:</p>
            <p>
              <label for="id_emailadres">e-mailadres:</label> {{ form.emailadres }}
            </p>
            <p><button class='btn'>Sturen</button></p>
          </fieldset>
          </form>
          <p>Je kan deze petitie ook <a href="/media/cms_page_media/1/petitieldhz.pdf">downloaden</a>, afdrukken, laten tekenen door jouw buren of de leden van jouw vereniging en ingevuld terugbezorgen op een van de busadressen die op de petitie staan vermeld.</p>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=300494076656783";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block mailchimp %}
{% endblock %}