body {
    background-image: url('/static/img/retina_wood.png');
}

h1, h2, h3 {
    font-family: 'Merriweather', Georgia, Times, serif;
}
h4, h5, h6, p, div {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h4 {
}

a {
    color: #ee1010;
}
a:hover {
    color: #ee1010;
}

.jumbotron {
    background-image: url('../img/header3.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, .6);
    font-size: 10px;
}
.jumbotron a {
    color: #fff;
    color: rgba(255, 255, 255, .6);
}
.jumbotron a:hover {
    color: #fff;
}
.jumbotron h1 {
    margin-right: -9999px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background: rgba(51, 73, 111, .7); */
    line-height: 1;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 70px;
}
.jumbotron h1 .ledeberg {
    font-size: 100px;
    display: block;
    text-shadow: 4px 2px 4px #000;
}
.jumbotron h1 .doethetzelf {
    font-size: 76px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
}

.container {
    background: #fff;
    padding-top: 40px;
    text-align: justify;
}
h4 {
    text-shadow: 0 -2px 0 rgba(255,255,255,1);
}

hr {
    background: -webkit-linear-gradient(left,rgba(228,228,228,0) 0,#e4e4e4 20%,#e4e4e4 80%,rgba(228,228,228,0) 99%)
    display: block;
    height: 1px;
}

p + h4 {
    padding-top: 20px;
}

.intro {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5em;
}
.intro h1 {
    font-weight: normal;
    padding-bottom: 30px;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid #dedede;
    text-align: center;
    color: #999;
    font-size: .9em;
    padding-top: 10px;
    background: #eee;
}

.required label:after {
    content: " *";
}
